html, input, textarea{
    background-color: #0f0f0f;
}

p, td, th, h1, label, input, textarea, legend{
    color: white;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid white;
}